body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.title p {
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bg {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.atas,
.bawah {
    width: 100%;
    height: 100%;
}

.atas {
    background-color: red;
}

.bawah {
    background-color: #fff;
}

.flip-card-front h1 {
    position: absolute;
    color: #000;
    font-size: 80px;
}

.flip-card-front {
    background-color: #2980b9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
}